<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link href="./src/style/main.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div class="container" id="todo-app">
      <h1>{{title}}</h1>

      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Put your new task name heare"
          id="inputTask"
          v-model="newTaskName"
          @keyup.enter="createTask"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" @click="createTask">
            Create
          </button>
        </div>
      </div>

      <div class="todolist row">
        <div class="col">
          <h2>Todo</h2>
          <ul class="list-group mylist" id="list-todo">

            <li v-for="task in todoList" class="list-group-item list-item" :class="{'is-done' : task.done}">
              <input type="checkbox" v-model="task.done" aria-label="Checkbox for following text input" > {{task.name}}
            </li>

          </ul>
        </div>
        <div class="col">
          <h2>Done</h2>
          <ul class="list-group mylist" id="list-done">
          
            <li v-for="task in doneList" class="list-group-item list-item" :class="{'is-done' : task.done}">
              <input type="checkbox" v-model="task.done" aria-label="Checkbox for following text input" > {{task.name}}
            </li>
          
          </ul>
        </div>
      </div>
    </div>
  </body>
  <script src="./src/js/main.js"></script>
</html>
